/*=============== PC,スマホ共通 ===============*/
body {
  background-color: rgb(39,16,213);
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Potta One', cursive;
  padding: 0;
  margin: 0;
}
#main-body {
  background-color: #fafafa;
  min-width: 375px;
  max-width: 1080px;
  margin: 0 auto;
  border-style: solid;
  border-color: #0d0d0d;
  border-width: 2px;
  opacity: 0;
  transition: all 6s ease;
}
/*=============== PC用画面 ===============*/
@media screen and (min-width: 768px){
  header {
    position: fixed;
    background-color: #ffffff;
    min-width: 375px;
    width: 1060px;
    margin: 0 10px 0 9px;
    border: 1px solid #0d0d0d;
    border-radius: 15px;
    z-index: 100;
  }
  #nav-sp, #menu-sp {
    display: none;
  }
  #nav-pc {
    float: right;
    margin: auto 0;
    padding-top: 14px;
  }
  #nav-pc > a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  #nav-pc > a:hover {
    text-decoration: underline;
    color: blue;
  }
  #nav-pc > a:active {
    color: red;
  }
  #nav-pc a:visited {
    color: black;
  }
  /* メインビジュアル */
  #main-visual {
    position: relative;
    height: 500px;
  }
  #main-message {
    position: absolute;
    top: 60px;
    left: 9px;
    background-color: #2710d5;
    color: #ffffff;
    border-radius: 15px 15px 476px 15px;
    max-width: 620px;
    height: 400px;
    width: 100%;
    border: 1px solid #ffffff;
    z-index: 31;
  }
  #main-message > h1 {
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    margin: 95px 30px 0 0;
  }
  #main-message > p {
    color: #ffffff;
    font-size: 30px;
    margin: 0 30px 0 0;
    text-align: center;
  }
  #main-visual > img {
    position: absolute;
    bottom: 0;
    right: 10px;
    max-width: 620px;
    border-radius: 476px 15px 15px 15px;
    border: 1px solid #0d0d0d;
    z-index: 30;
  }
  /* ミッション */
  #mission {
    width: 100%;
    margin: 80px auto;
    background-color: rgba(0,0,0,0.05);
    border-radius: 15px;
  }
  .index-h2 {
    margin: 40px 0 0 0;
    text-align: center;
  }
  .index-h2::before, .index-h2::after {
    content: url('images/line.png');
    margin: 0 20px 0 20px;
  }
  #mission-flex {
    display: flex;
    width: 100%;
  }
  #mission-flex > div {
    width: 50%;
    margin: 20px;
  }
  #mission-photo, #s2dgs {
    width: 100%;
    border: 1px solid #0d0d0d;
    border-radius: 15px;
  }
  h3 {
    font-size: 27px;
  }
  p {
    font-size: 15px;
  }
  #mission-more {
    margin: 20px 0 -30px -142px;
  }
  /* プロダクト */
  #product {
    margin: 20px 0 20px 0;
    background-color: rgba(0,0,0,0.05);
    border-radius: 15px;
  }
  #product > div {
    margin: 20px 0 0 0;
    display: flex;
  }
  #product-left {
    width: 50%;
    margin-right: 20px;
  }
  #product-right {
    width: 50%;
    margin: 80px 0 0 20px;
  }
  #product-left > div {
    position: relative;
    height: 480px;
    margin: 0 0 50px 20px;
  }
  #product-right > div {
    position: relative;
    height: 480px;
    margin: 0 20px 50px 0;
  }
  #product-right > div > div {
    margin-bottom: 20px;
  }
  .product-photo {
    border: 1px solid #0d0d0d;
    border-radius: 15px;
    width: 100%;
  }
  .product-explain {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 300px;
    margin: 0 40px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
  }
  .product-explain > span {
    color: #2710d5;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
  }
  .product-explain > h3 {
    margin: 5px 0;
  }
  #product-more {
    margin: 0 auto -10px auto;
  }
}

/*=============== スマホ用画面 ===============*/
@media screen and (max-width: 767px){
  #main-body {
    border-width: 0;
    border-style: none;
  }
  #nav-pc {
    display: none;
  }
  header {
    /* border: 2px solid #0d0d0d;  */
    /* border-radius: 15px; */
    z-index: 98;
  }
  #menu-sp {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
  }
  #nav-sp {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    margin-top: 0;
    background-color: #2710d5;
    z-index: 100;
  }
  #nav-sp > a {
    display: block;
    margin-right: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
  }
  #nav-sp > a:hover {
    text-decoration: underline;
    color: white;
  }
  #nav-sp > a:active {
    color: white;
  }
  #nav-sp a:visited {
    color: white;
  }
  #close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #logo-sp {
    margin: 80px 0 30px 20px;
  }
  .menu {
    margin: 0 0 30px 20px;
    background-image: url('images/arrow.png');
    background-repeat: no-repeat;
    background-position: right;
  }
  /* メインビジュアル */
  #main-visual {
    position: relative;
    height: 530px;
  }
  #main-message {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2710d5;
    color: white;
    border-radius: 15px 15px 476px 15px;
    text-align: center;
    height: 280px;
    width: 100%;
    z-index: 11;
    border: 1px solid #ffffff;
  } 
  #main-visual > img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 476px 15px 15px 15px;
    z-index: 10;
    border: 1px solid #0d0d0d;
  }
  #main-message > h1 {
    font-size: 30px;
    margin: 80px 0 0 0;
  }
  #main-message > p {
    margin: 0;
  }
  /* ミッション */
  #mission {
    margin: 20px 0 20px 0;
    background-color: rgba(0,0,0,0.05);
    border-radius: 15px;
  }
  .index-h2 {
    margin: 40px 0 0 0;
    text-align: center;
  }
  .index-h2::before, .index-h2::after {
    content: url('images/line.png');
    margin: 0 2px 0 2px;
  }
  #mission-flex {
    display: block;
    margin-top: 20px;
    margin: 0 10px 0 10px;
  }
  #mission-photo, #s2dgs {
    border: 1px solid #0d0d0d;
    border-radius: 15px;
    width: 100%;
  }
  h3 {
    font-size: 24px;
    margin: 10px 0 0 0;
  }
  p {
    font-size: 15px;
  }
  #mission-more {
    text-align: center;
    margin-bottom: -55px;
  }
  /* プロダクト */
  #product {
    margin: 75px 0 20px 0;
    background-color: rgba(0,0,0,0.05);
    border-radius: 15px;
  }
  #product > div {
    margin: 0 10px 0 10px;
  }
  #product-left > div, #product-right > div {
    position: relative;
    height: 516px;
    margin-bottom: 20px;
  }
  .product-photo {
    border-radius: 15px 15px 0 0;
    width: 100%;
    border-left: 1px solid #0d0d0d;
    border-top: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
  }
  .product-explain {
      position: absolute;
      top: 280px;
      left: 0;
      background-color: #fafafa;
      padding: 20px;
      border-radius: 0 0 15px 15px;
      border-left: 1px solid #0d0d0d;
      border-bottom: 1px solid #0d0d0d;
      border-right: 1px solid #0d0d0d;
      box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
  }
  .product-explain > span {
    color: #2710d5;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
  }
  .product-explain > h3 {
    margin: 5px 0;
  }
  #product-more {
    text-align: center;
  }
}